HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/user-service/.mvn/
/user-service/.gitignore
/user-service/mvnw.cmd
/user-service/mvnw
/ribbon-service/.mvn/
/ribbon-service/mvnw
/ribbon-service/mvnw.cmd
/common/.mvn/
/common/HELP.md
/common/mvnw
/common/mvnw.cmd
/hystrix-service/mvnw
/hystrix-service/mvnw.cmd
/hystrix-service/.mvn/
/hystrix-dashboard/.mvn/
/hystrix-dashboard/mvnw
/hystrix-dashboard/mvnw.cmd
/turbine-service/.mvn/
/turbine-service/mvnw
/turbine-service/mvnw.cmd
/feign-service/mvnw
/feign-service/mvnw.cmd
/feign-service/.mvn/
